    <article>
        <header>
            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
            {{ article.headline }}
        </header>

        {{ article.body_html }}

        <section>
            <h2>Comments</h2>
            {% if article.comments_enabled %}
                {% with template_dir|add:"/comment.html" as template %}
                {% for comment in comments %}
                    {% include template %}
                {% endfor %}
                {% endwith %}
            {% else %}
                <span class="strike" title="Commenting has been disabled for this post">
            {% endif %}
        </section>

        <footer>
            <ul>
                <li><span class="glyph" alt="Author">&#59170;</span> {{ article.author.name }}</li>
		<li><span class="glyph" alt="Location">&#9873;</span> {{ article.location }}</li>
		<li><span class="glyph" alt="Date">&#128340;</span> {{ article.pretty_date }}<time datetime="<?php echo getDatetimeStamp($thisRant['date']); ?>"><?php echo $thisRant['date']; ?></time></li>

        {% if article.modified_times > 0 %}
            <li><span class="glyph">&#9998;</span>
            {% if article.modified_times == 1 %}
                1 time at ' . getLongDate($rants[$i]['modifiedDate']) . " " . getTime($rants[$i]['modifiedDate']);
            {% else %}
                echo $rants[$i]['modified'] . ' times, last time at ' . getLongDate($rants[$i]['modifiedDate']) . " " . getTime($rants[$i]['modifiedDate']);
            {% endif %}
            </li>
        {% endif %}
            </ul>
        </footer>
    </article>
