{% with template_dir|add:"/base_generic.html" as template %}
{% include template %}
{% endwith %}

{% block pagetitle %}{{ article.title }}{% endblock %}

{% block content %}
{{ template_dir }}

{% with template_dir|add:"/article.html" as template %}
{% include template %}
{% endwith %}

{% if previous_article %}
&lt; <a href="{% url 'article-detail' previous_article.id %}">previous</a>
{% else %}
&lt; previous
{% endif %}
&nbsp;|&nbsp;
{% if next_article %}
<a href="{% url 'article-detail' next_article.id %}">next</a> &gt;
{% else %}
next &gt;
{% endif %}
{% endblock %}
