{% load staticfiles %}
{% load i18n %}
{% load markdown_deux_tags %}
<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="dammit-nl" data-template-set="html5-reset">

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% block pagetitle %}{% endblock %} | {{ site.name }}{% endblock %}</title>

	<meta name="title" content="{{ page_name }}" />
	{% if headline %}
	<meta name="description" content="{{ headline }}>" />
	{% else %}
	<meta name="description" content="{{ site.description }}" />
	{% endif %}
	<meta name="author" content="{{ author }}" />
	<!-- Google will often use this as its description of your page/site. Make it good. -->

	<meta name="google-site-verification" content="" />
	<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->

	<meta name="author" content="" />
{#	<meta name="Copyright" content="Copyright <?php echo $skel['author'] . ' ' . $skel['startyear'] . "-" . date('Y'); ?> " />#}

	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<!-- Uncomment to use; use thoughtfully!
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- @TODO	<link rel="shortcut icon" href="<?php echo $skel['base_uri'] . 'themes/' . $skel['theme']; ?>/img/favicon.ico" />-->
	<!-- This is the traditional favicon.
		- size: 16x16 or 32x32
		- transparency is OK
		- see wikipedia for info on browser support: http://mky.be/favicon/ -->

    <meta name="theme-color" content="#5C6448" />

    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}" />
	<!-- The is the icon for iOS's Web Clip.
		- size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		- To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		- Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<!-- concatenate and minify for production -->
<!--	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>-->
	<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/reset.css" %}" />
<!--	<link rel="stylesheet" href="{% static "css/style.css" %}" />-->
	<link rel="stylesheet" href="{% static "css/dammit.css" %}" />

	<!-- This is an un-minified, complete version of Modernizr.
		Before you move to production, you should generate a custom build that only has the detects you need. -->
	<script src="{% static "js/modernizr.dammit.js" %}"></script>

<script language="text/javascript">
if (!Modernizr.inlinesvg)
{
    document.write(
        '<script type="text/javascript" src="{% static "js/raphael-min.js" %}"><\/script>',
        '<script type="text/javascript" src="{% static "js/dammitlogo.js" %}"><\/script>'
    );
}
</script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

<div id="wrapper"><!-- not needed? up to you: http://camendesign.com/code/developpeurs_sans_frontieres -->

<div id="header">
	<figure style="background-image:url('{% static "images/" %}{{ siteconfig.logo }}');"></figure>
	<a href="{% url 'home' %}"><img class="logo" src="{% static "img/dammit.svg" %}" alt="dammIT logo" /></a>
</div>

<div id="content">

{% block content %}
	<header>

		<h1><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h1>

	</header>

{% endblock %}

</div>

	<aside>
{% block sidebar %}

		<nav>
			<ol>
				<li><a href="{% url 'home' %}" accesskey="h" title="Home"><span class="glyph">&#8962;</span> home</a></li>
				<li><a href="{% url 'article_archive-list' %}" accesskey="a" title="View all post titles in the archive"><span class="glyph">&#128230;</span> archive</a></li>
				<li><a href="{% url 'link_archive-list' %}" accesskey="m" title="View interesting links"><span class="glyph">&#128209;</span> blogmarks</a></li>
{% comment %}
				<li><a href="{% url 'page-detail' 'books' %}" accesskey="b" title="The list of books I've read or are going to consume"><span class="glyph">&#128213;</span> books</a></li>
				<li><a href="{% url 'page-detail' 'kudos' %}" accesskey="k" title="View a list of sites that deserve kudos"><span class="glyph">&#128077;</span> kudos</a></li>
				<li><a href="{% url 'page-detail' 'about' %}" accesskey="?" title="Information about the author"><span class="glyph">&#59170;</span> about</a></li>
{% endcomment %}
			</ol>
		</nav>

{% comment %}
		<div class="pageversion">v<?php echo $skel['page_version']; ?></div>

		<form style="margin-top: 1em;" action="<?php echo $skel['base_uri'];?>search" method="post"><div><input type="text" class="searchfield" name="searchkey" size="12" maxlength="250" value="<?php echo $searchkey;?>" /><input name="searchbtn" value="&#128269;" type="submit" class="searchbtn" /></div></form>*/ ?>
{% endcomment %}
		<form style="margin-top: 1em;" action="{% url 'search' %}" method="post"><div><input type="text" class="searchfield" name="searchkey" size="12" maxlength="250" value="{{ search_key }}" /><input name="searchbtn" value="Find" type="submit" /></div></form>

		<h2>Distracted by</h2>
		<ul class="content">
			{% if not blogmarks %}
			<li>No blogmarks yet</li>
			{% else %}
			{% for blogmark in blogmarks %}
			<li><a href="{{ blogmark.uri }}">{{ blogmark.title }}</a> <div class="blogmarkmeta">{{ blogmark.body|markdown:"normal" }}</div></li>
			{% endfor %}
			{% endif %}
		</ul>

		<div class="content"><a href="{% url 'link_archive-list' %}">More blogmarks &raquo;</a></div>

		<div>
			<a href="{% url 'feed' %}" title="Get my feed into your reader :)" class="glyph">&#59194;</a>
			{% if siteconfig.profile_twitter %}
			<a href="http://twitter.com/{{ siteconfig.profile_twitter }}" title="Me on Twitter" class="social">&#62217;</a>
			{% endif %}
			{% if siteconfig.profile_googleplus %}
			<a href="https://plus.google.com/{{ siteconfig.profile_googleplus }}" title="Me on Google+" class="social">&#62223;</a>
			{% endif %}
			{% if siteconfig.profile_flickr %}
			<a href="https://www.flickr.com/photos/{{ siteconfig.profile_flickr }}/" title="My pictures on Flickr" class="social">&#62211;</a>
			{% endif %}
			{% if siteconfig.profile_picasa %}
			<a href="https://www.picasa.com/{{ siteconfig.profile_picasa }}/" title="My pictures on Picasa" class="social">&#62277;</a>
			{% endif %}
			{% if siteconfig.profile_linkedin %}
			<a href="http://linkedin.com/in/{{ siteconfig.profile_linkedin }}/" title="My profile on LinkedIn" class="social">&#62232;</a>
			{% endif %}
		</div>

{% endblock %}
	</aside>

	<footer>

		<p><small>&copy; {{ siteconfig.startyear }}&ndash;{{ current_year }} <a href="">{{ siteconfig.author }}</a> under a <a href="{{ siteconfig.license_uri }}">{{ siteconfig.license_text }}</a></small></p>

	</footer>

</div>


<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='{% static "js/jquery-1.9.1.min.js" %}'>\x3C/script>")</script>

<!-- this is where we put our custom functions -->
<!-- don't forget to concatenate and minify if needed -->
<!-- @TODO: enable when needed <script src="<?php echo $skel['base_uri'] . 'themes/' . $skel['theme']; ?>/js/functions.js"></script>-->

{% if siteconfig.google_analytics_key and DEBUG == False %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ siteconfig.google_analytics_key }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

{% if siteconfig.google_analytics_uri and siteconfig.piwik_analytics_key and DEBUG == False %}
<!-- Piwik -->
<script type="text/javascript">
{# var pkBaseURL = (("https:" == document.location.protocol) ? "https://<?php echo $skel['piwikURL']; ?>" : "http://<?php echo $skel['piwikURL']; ?>"); #}
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="{{ siteconfig.piwik_analytics_uri }}piwik.php?idsite={{ siteconfig.piwik_analytics_key }}" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
{% endif %}

<!-- rendered in <?php echo (microtime() - $skel['starttime'])?> sec -->

</body>
</html>
