{% comment %}
	$marksHTML = '';
	$previousDate = '0000-00-00 00:00:00';

	for ($i = 0; $i < count($marks); $i++)
	{
		$marksHTML .= "<div id=\"uri" . $marks[$i]['id'] . "\">\n";
		/* Title */
		$marksHTML .= "<h3><a href=\"" . $marks[$i]['uri'] . "\">" . $marks[$i]['title'] . "</a></h3>\n";
		/* Info about the blogmark */
		$marksHTML .= '<div class="info">';
		if ($marks[$i]['modified'] > 0)
		{
			/* Modified at least once */
			if ($marks[$i]['modified'] == 1)
			{
				$marksHTML .= 'Modified 1 time at ' . getLongDate($marks[$i]['modifiedDate']) . " " . getTime($marks[$i]['modifiedDate']);
			} else
			{
				$marksHTML .= 'Modified ' . $marks[$i]['modified'] . ' times, last time at ' . getLongDate($marks[$i]['modifiedDate']) . " " . getTime($marks[$i]['modifiedDate']);
			}
			$marksHTML .= " | ";
		}
		$marksHTML .= $marks[$i]['location'];
		$marksHTML .= " | <a href=\"" . markUri($marks[$i]) . "\">" . getMonthDate($marks[$i]['date']) . ", " . getTime($marks[$i]['date']) . "</a>";
		$marksHTML .= "</div>\n";
		/* Comment on the blogmark */
		$marksHTML .= $marks[$i]['message'] . "\n";
		$marksHTML .= "</div>\n\n";
	}
	return $marksHTML;
{% endcomment %}
{% load markdown_deux_tags %}
{% load kontenthelpers %}
<div id="uri{{ link.slug }}">
	<h3><a href="{{ link.link }}">{{ link.title }}</a></h3>
	<div class="info" title="{{ link.published_date|simpledate }} {{ link.published_date|timestamp }}">{{ modified }}{{ link.location }} | {{ link.published_date|prettydate }}, {{ link.published_date|timestamp }}</div>
	{{ link.body|markdown:"normal" }}
</div>
